* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}

html {
  font-size: 62.5%;
  background-color: rgb(19, 17, 32);
}

body {
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
